body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.8;
    font-weight: 400;
    color: #1f2b42;
}
